<!doctype>
<html>
  <title>{{ page.title }}</title>
  <style>
    html {
      font-family: sans-serif;
      font-size: 14px;
    }
    body {
      color: #eee;
      background-color: #111;
      padding: 3em;
      max-width: 63em;
      margin: 0 auto;
    }
    code {
      font-family: monospace;
      background-color: #ddd;
      color: #000;
      padding: 0.2em;
    }

    h1 {
      text-align: center;
      font-size: 300%;
    }
    h2 {
      font-size: 200%;
    }
    div.ads {
      float: right;
      width: 300px;
    }
  </style>
</html>
<body>
  <h1>{{ page.title }}</h1>

  <!-- Begin: adBrite, Generated: 2011-08-29 17:54:51  -->
  <div class=ads>
  <script type="text/javascript">
    var AdBrite_Title_Color = '0000FF';
    var AdBrite_Text_Color = '000000';
    var AdBrite_Background_Color = 'FFFFFF';
    var AdBrite_Border_Color = 'CCCCCC';
    var AdBrite_URL_Color = '008000';
    try{var AdBrite_Iframe=window.top!=window.self?2:1;var AdBrite_Referrer=document.referrer==''?document.location:document.referrer;AdBrite_Referrer=encodeURIComponent(AdBrite_Referrer);}catch(e){var AdBrite_Iframe='';var AdBrite_Referrer='';}
    </script>
    <script type="text/javascript">document.write(String.fromCharCode(60,83,67,82,73,80,84));document.write(' src="http://ads.adbrite.com/mb/text_group.php?sid=2004631&zs=3330305f323530&ifr='+AdBrite_Iframe+'&ref='+AdBrite_Referrer+'" type="text/javascript">');document.write(String.fromCharCode(60,47,83,67,82,73,80,84,62));</script>
    <div><a target="_top" href="http://www.adbrite.com/mb/commerce/purchase_form.php?opid=2004631&afsid=1" style="font-weight:bold;font-family:Arial;font-size:13px;">Your Ad Here</a></div>
    </div>
    <!-- End: adBrite -->

    {{ content }}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24701480-2']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
</script>
</body>
