<!doctype>
<html>
  <title>{{ page.title }}</title>
  <style>
    html {
      font-family: sans-serif;
      font-size: 14px;
    }
    body {
      color: #eee;
      background-color: #111;
      padding: 3em;
      max-width: 63em;
      margin: 0 auto;
    }
    code {
      font-family: monospace;
      background-color: #ddd;
      color: #000;
      padding: 0.2em;
    }

    h1 {
      text-align: center;
      font-size: 300%;
    }
    h2 {
      font-size: 200%;
    }
  </style>
</html>
<body>
  <h1>{{ page.title }}</h1>

    {{ content }}

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24701480-2']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
</script>
</body>
